* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: black;
}

/* HOME */
.bgImg {
  background: url(https://s2.bunnycdn.ru/assets/t1/s1/imagesv3/bg-index2.jpg);
  background-size: cover;
  background-position: center;
  width: 100;
  position: relative;
  overflow: hidden;
}

.homeItem:hover {
  transform: scale(1.1);
}

/* image to left and caption to right */
.carousel img {
  width: 100%;
  height: 65vh;
  object-fit: cover;
  object-position: center;
  right: 0;
}

/* VIDEO PLAYER */
/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: yellow;
}


/* MOVIE PAGE */
.page-link {
  background-color: black;
  font-family: sans-serif;
  color: white;
}


/* MEDIA QUERIES */
@media (max-width: 768px) {
  .carousel img {
    width: 100%;
    height: 50vh;
  }
}